@model List<ProyeProgra6.Models.sp_RetornaCantones_Result>

@{
    ViewBag.Title = "CantonesLista";
}
@section css{

    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
    <link href="~/Content/SpriteCarouselMapa.css" rel="stylesheet" />
}


<body class="imagenFondo">
    <!--Panel-->
    <div class="panel panel-primary"
         style="        text-align: left;
        border: solid 5px black;
        border-color: white;
        filter: drop-shadow(15px 15px 20px #444);
        margin-left: 40px;
        margin-right: 25px;
        margin-top: 15px">
        <!--Encabezado Del Panel-->
        <div class="panel-heading">
            <div class="row" style="display: flex">
                <div style="margin-left:255px; margin-top: 10px">

                    <div style=" margin-bottom: 15px; padding-left: 40px; padding-right: 40px">
                        <h2 class="auto-style1">Lista De Cantones </h2>
                    </div>
                </div>
            </div>
            <h4>
                <a style="color: black; margin-left: 80%;padding: 10px;
             " href="~/Principal/PaginaPrincipal">  Pagina Principal</a>
            </h4>
        </div>
        <!--Fin Encabezado Del Panel-->
        <!--Cuerpo Del Panel-->
        <div class="panel-body" style="background-color: aqua; color:black">

            <!-- Columnnas Del Panel-->
            <div class="row" style="display: flex">
                <!-- Primera Columnna Del Panel-->
                <div class="column" style="flex: 50%; padding: 10px;">

                    <table class="table">
                        <tr>
                            <th>Provincia</th>
                            <th>Nombre</th>
                            <th>Usuario Crea</th>
                            <th>Fecha Creacion</th>
                            <th>Usuario Modifica</th>
                            <th>Fecha Modifica</th>
                            <th>VC Estado</th>
                            <th>Canton Inec</th>


                        </tr>

                        @{ foreach (ProyeProgra6.Models.sp_RetornaCantones_Result posicionModelo
                                                in this.Model)
                            {
                                <tr>
                                    <td>@posicionModelo.Provincia</td>
                                    <td>@posicionModelo.nombre</td>
                                    <td>@posicionModelo.usuarioCrea</td>
                                    <td>@posicionModelo.fechaCrea</td>
                                    <td>@posicionModelo.usuarioModifica</td>
                                    <td>@posicionModelo.fechaModifica</td>
                                    <td>@posicionModelo.vc_Estado</td>
                                    <td>@posicionModelo.id_CantonInec</td>

                                </tr>
                            }
                        }
                    </table>
                </div>
                <!--Fin Cuerpo Panel-->
            </div>
            <!--Fin Panel-->

        </div>




        @* Iniciamos con el carousell *@
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol id="olCarousel" class="carousel-indicators">
                <li data-target="myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="myCarousel" data-slide-to="1"></li>
                <li data-target="myCarousel" data-slide-to="2"></li>
                <li data-target="myCarousel" data-slide-to="3"></li>
                <li data-target="myCarousel" data-slide-to="4"></li>
                <li data-target="myCarousel" data-slide-to="5"></li>
                <li data-target="myCarousel" data-slide-to="6"></li>

            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <span class="sprite Alajuela"></span>
                </div>
                <div class="item">
                    <span class="sprite Cartago"></span>
                </div>
                <div class="item">
                    <span class="sprite Guanacaste"></span>
                </div>
                <div class="item">
                    <span class="sprite Heredia"></span>
                </div>
                <div class="item">
                    <span class="sprite2 Limon"></span>
                </div>
                <div class="item">
                    <span class="sprite2 Puntarenas"></span>
                </div>
                <div class="item">
                    <span class="sprite2 SanJose"></span>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>

            </div>
        </div>
    </div>
</body>