
@model List<ProyeProgra6.Models.sp_RetornaUsuarios_Result>
@{
    ViewBag.Title = "UsuariosLista";
}

<h2>Usuarios Lista</h2>
<table class="table">
    <tr>
        <th>Nombre Completo</th>
        <th>Genero</th>
        <th>Correo</th>
        <th>Tipo de Usuario</th>
        <th>Provincia</th>
       

    </tr>

    @{ foreach (ProyeProgra6.Models.sp_RetornaUsuarios_Result posicionModelo
                 in this.Model)
        {
        <tr>



            <td>@posicionModelo.Nombre @posicionModelo.Apellido1 @posicionModelo.Apellido2</td>
            <td>@posicionModelo.Genero</td>
            <td>@posicionModelo.Correo</td>
            <td>@posicionModelo.TipoUsuario</td>
            <td>@posicionModelo.nombreProvincia</td>
          



        </tr>
        }
    }
</table>
<a href="~/Usuarios/UsuarioNuevo"> Registar Nueva Persona</a>

