
@{
    ViewBag.Title = "UsuarioNuevo";
}

<h2>Usuario Nuevo</h2>


<form id="frmNuevoUsuario" method="post">

    <div class="form-group">
        <label>Cedula:</label>
        <input type="text" name="cedula" id="cedula" class="form-control" />
    </div>

    <div class="form-check">
        <label>Genero:  </label>

        <input type="radio" name="Genero" value="f" class="form-check-input" /> Femenino

        <input type="radio" name="Genero" value="m" class="form-check-input" /> Masculino

        <input type="radio" name="Genero" value="i" class="form-check-input" /> Indefinido
    </div>
    <br />
    <div class="form-group">
        <label>Fecha Nacimiento:</label>
        <input type="text" name="FechaNacimiento" id="FechaNacimiento" class="form-control" />
    </div>

    <div class="form-group">
        <label>Nombre:</label>
        <input type="text" name="Nombre" id="Nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label>Primer Apellido:</label>
        <input type="text" name="Apellido1" id="Apellido1" class="form-control" />
    </div>

    <div class="form-group">
        <label>Segundo Apellido:</label>
        <input type="text" name="Apellido2" id="Apellido2" class="form-control" />
    </div>

    <div class="form-group">
        <label>Correo electrónico</label>
        <input type="text" name="correo" id="correo" class="form-control" />
    </div>

    <div class="form-group">
        <label>Tipo de Usuario</label>
        <input type="text" name="TipoUsuario" id="TipoUsuario" class="form-control" />
    </div>

    <div class="form-group">
        <label>Provincia de Nacimiento :</label>
        <select name="id_Provincia" id="id_Provincia" class="form-control">
            <option value="">Seleccione una provincia</option>
            @{
                foreach (ProyeProgra6.Models.sp_RetornaProvincias_Result provincia
                    in this.ViewBag.ListaProvincias)
                {
                    <option value="@provincia.id_Provincia">@provincia.nombre</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Canton de Nacimiento :</label>
        <select name="id_Canton" id="id_Canton" class="form-control">
            <option value="">Seleccione una canton</option>
            @{
                foreach (ProyeProgra6.Models.sp_RetornaCantones_Result canton
                    in this.ViewBag.ListaCantones)
                {
                    <option value="@canton.id_Canton">@canton.nombre</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Distrito de Nacimiento :</label>
        <select name="id_Distrito" id="id_Distrito" class="form-control">
            <option value="">Seleccione un Distrito</option>
            @{
                foreach (ProyeProgra6.Models.sp_RetornaDistritos_Result distrito
                    in this.ViewBag.ListaDistritos)
                {
                    <option value="@distrito.id_Distrito">@distrito.nombre</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Contrasenia</label>
        <input type="password" name="Contrasenia" id="Contrasenia" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" id="btnAceptar" />
    </div>
    <br />
    <a href="~/Usuarios/UsuariosLista"> Lista de Usuarios</a>
</form>
    

