
@model List<ProyeProgra6.Models.sp_RetornaUsuarios_Result>
@{
    ViewBag.Title = "UsuariosLista";
}
@section css{

    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
}
<body class="imagenFondo">
    
        <!--Panel-->
        <div class="panel panel-primary"
             style="        text-align: left;
        border: solid 5px white;
        border-color: white;
        filter: drop-shadow(15px 15px 20px #444);
        margin-left: 40px;
        margin-right: 25px;
        margin-top: 15px">
            <!--Encabezado Del Panel-->
            <div class="panel-heading">
                <div class="row" style="display: flex">
                    <div style="margin-left:95px; margin-top: 10px">

                        <div style=" margin-bottom: 15px; padding-left: 40px; padding-right: 40px">
                            <h2 class="auto-style1">Registro De La Lista De Usuarios</h2>
                        </div>
                    </div>
                </div>

            </div>
            <!--Fin Encabezado Del Panel-->
            <!--Cuerpo Del Panel-->
            <div class="panel-body" style="background-color: aqua; color:black">

                <!-- Columnnas Del Panel-->
                <div class="row" style="display: flex">
                    <!-- Primera Columnna Del Panel-->
                    <div class="column" style="flex: 50%; padding: 10px;">

                        <table class="table">
                            <tr>
                                <th>Nombre Completo</th>
                                <th>Genero</th>
                                <th>Correo</th>
                                <th>Tipo de Usuario</th>
                                <th>Provincia</th>
                                <th>Acciones</th>


                            </tr>

                            @{ foreach (ProyeProgra6.Models.sp_RetornaUsuarios_Result posicionModelo
                                               in this.Model)
                                {
                                    <tr>



                                        <td>@posicionModelo.Nombre @posicionModelo.Apellido1 </td>
                                        <td>@posicionModelo.Genero</td>
                                        <td>@posicionModelo.Correo</td>
                                        <td>@posicionModelo.TipoUsuario</td>
                                        <td>@posicionModelo.nombreProvincia</td>
                                        <td>
                                            <a style="color:darkblue" href="~/Usuarios/ModificaUsuario?idUsuario=@posicionModelo.idUsuario">Modificar</a>
                                            <br />
                                            <a style="color:darkblue" href="~/Usuarios/EliminaUsuario?idUsuario=@posicionModelo.idUsuario">Eliminar</a>

                                        </td>



                                    </tr>
                                }
                            }
                        </table>
                        <a style="color:darkblue" href="~/Usuarios/UsuarioNuevo"> Registar Nueva Persona</a>
                    </div>
                    <!--Fin Cuerpo Panel-->
                </div>
                <!--Fin Panel-->

            </div>

        </div>
   

</body>