@model ProyeProgra6.Models.sp_RetornaTiposVehiculos_ID_Result
@{
    ViewBag.Title = "TipoVehiculoElimina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Elimina El Tipo De Vehiculo </h2>

<form id="frmNuevaPersona" method="post">
    <input type="hidden" name="idTipoVehiculo" id="idTipoVehiculo" value="@Model.idTipoVehiculo" />
    <div class="form-group">
        <br />
        <label>Codigo:</label>
        <input type="text" name="Codigo" id="Codigo" class="form-control" value="@Model.Codigo" readonly />
    </div>

    <div class="form-group">
        <label>Tipo Vehiculo:</label>
        <input type="text" name="Tipo" id="Tipo" class="form-control" value="@Model.Tipo" readonly />
    </div>


    <div class="form-group">
        <input type="submit" value="Guardar" id="btnAceptar" />
    </div>
    <a href="~/TiposVehiculos/TiposVehiculosLista"> Lista De Tipos de Vehiculos</a>
</form>
@*
        @section Scripts{
            *****No es necesario incluir jquery porque
                ya el layout lo incluye
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/Usuarios/ValidacionesGenericas.js")

    }
*@