
@{
    ViewBag.Title = "EncabezadoFacModifica";
}


<h2>Modifica el Encabezado Factura</h2>

@*<form id="frmNuevaFactura" method="post">
    <div class="form-group">
        <label>Encabezado Factura:</label>
        <select name="idEncabezadoFac" id="idEncabezadoFac" class="form-control" value="@Model."></select>
    </div>
    <br />
    <div class="form-group">
        <label>Usuario:</label>
        <select name="idUsuario" id="idUsuario" class="form-control" value="@Model."></select>
    </div>
    <br />
    <div class="form-group">
        <label>Vehiculo:</label>
        <select name="idVehiculo" id="idVehiculo" class="form-control" value="@Model."></select>
    </div>
    <br />
    <div class="form-group">
        <label> Fecha:</label>
        <input type="text" name="Fecha" id="Fecha" class="form-control" value="@Model.primerApellido" />
    </div>
    <br />
    <div class="form-group">
        <label>Monto Total Servicio:</label>
        <input type="text" name="MontoTotalServicio" id="MontoTotalServicio" class="form-control" value="@Model.segundoApellido" />
    </div>
    <br />
    <div class="form-group">
        <label>Estado Factura:</label>
        <input type="text" name="EstadoFactura" id="EstadoFactura" class="form-control" value="@Model.nombre" />
    </div>
    <div class="form-group">
        <label>Teléfono :</label>
        <input type="text" name="telefono" id="telefono" class="form-control" value="@Model.telefono" />
    </div>
    
    <div class="form-group">
        <input type="submit" value="Guardar" id="btnAceptar" />
    </div>
    <a href="~/Personas/PersonaLista"> Regresar a la lista</a>
</form>*@