@model ProyeProgra6.Models.sp_RetornaFacturaEnc_ID_Result
@{
    ViewBag.Title = "EncabezadoFacModifica";
}

@section css{

    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
}
<body class="imagenFondo">

    <form id="frmEncabezado" method="post">
        <!--Panel-->
        <div class="panel panel-primary"
             style=" text-align: left;
        border: solid 5px white;
        border-color: white;
        filter: drop-shadow(15px 15px 20px #444);
        margin-left: 110px;
        margin-right: 100px;
        margin-top: 15px">
            <!--Encabezado Del Panel-->
            <div class="panel-heading">
                <div class="row" style="display: flex">
                    <div style="margin-left: 10px; margin-top: 10px">

                        <div style="margin-bottom: 10px; padding-left: 40px; padding-right: 40px">
                            <h2 class="auto-style1">Registro De Modificar Una Factura</h2>
                        </div>
                    </div>
                </div>

            </div>
            <!--Fin Encabezado Del Panel-->
            <!--Cuerpo Del Panel-->
            <div class="panel-body" style="background-color: aqua; color:black">

                <!-- Columnnas Del Panel-->
                <div class="row" style="display: flex">
                    <!-- Primera Columnna Del Panel-->
                    <div class="column" style="flex: 50%; padding: 10px;">
                        
                        <br />

                        <div class="form-group">
                            <label>Usuario:</label>
                            <select contenteditable="false" name="idUsuario" id="idUsuario" class="form-control" readonly>
                              
                                @{
                                    foreach (ProyeProgra6.Models.sp_RetornaUsuarios_Result usuario
                                        in this.ViewBag.ListaUsuarios)
                                    {
                                        {
                                            bool esIdCantonModelo = usuario.idUsuario == Model.idUsuario;

                                            if (esIdCantonModelo)
                                            {
                                                <option value="@usuario.idUsuario" selected>@usuario.Nombre.ToUpper() </option>

                                            }
                                            else
                                            {
                                                <option value="@usuario.idUsuario">@usuario.Nombre.ToUpper() </option>


                                            }


                                        }
                                    }
                                }
                            </select>
                        </div>

                        <br />
                        <div class="form-group">
                            <label>Vehiculo:</label>
                            <select contenteditable="false" name="idVehiculo" id="idVehiculo" class="form-control" readonly>
                                
                                @{
                                    foreach (ProyeProgra6.Models.sp_RetornaVehiculos_Result placa
                                        in this.ViewBag.ListaPlaca)
                                    {
                                        {
                                            bool esIdCantonModelo = placa.idVehiculo == Model.idVehiculo;

                                            if (esIdCantonModelo)
                                            {
                                                <option value="@placa.idVehiculo" selected>@placa.Placa.ToUpper() </option>

                                            }
                                            else
                                            {
                                                <option value="@placa.idVehiculo">@placa.Placa.ToUpper() </option>


                                            }


                                        }
                                    }
                                }
                            </select>
                        </div>
                                                
                        <br />
                        <div class="form-group">
                            <label>Fecha:</label>
                            <input type="text" name="Fecha" id="Fecha" class="form-control" value="@Model.Fecha.ToShortDateString()" readonly />
                        </div>
                        <br />
                        <div class="form-group">
                            <label> Monto Total Servicio:</label>
                            <input type="text" name="MontoTotalServicio" id="MontoTotalServicio" class="form-control" value="@Model.MontoTotalServicio" readonly />
                        </div>
                        <br />
                        <div class="form-check">
                            <label>Estado Factura:  </label>
                            <br />
                            <input type="radio" name="EstadoFactura" value="Habilitada" class="form-check-input" @(Model.EstadoFactura == "Habilitada" ? "checked" : "") /> Habilitada
                            <br />
                            <input type="radio" name="EstadoFactura" value="Inhabilitada" class="form-check-input" @(Model.EstadoFactura == "Inhabilitada" ? "checked" : "") /> Inhabilitada
                            <br />
                        </div>
                        <br />
                        <br />

                        @*<div class="form-group">
            <label>Estado Factura:</label>
            <input type="text" name="EstadoFactura" id="EstadoFactura" class="form-control" value="@Model.EstadoFactura" />
        </div>*@

                        <div class="form-group">
                            <input type="submit" value="Modificar" id="btnAceptar" class="btn btn-success" style=" border-color:black ; color:red" />
                        </div>
                        <br />
                        <a style="color:darkblue" href="~/Facturacion/EncabezadoFac"> Lista de Facturas</a>
                    </div>
                    <!--Fin Cuerpo Panel-->
                </div>
                <!--Fin Panel-->
            </div>

        </div>
    </form>

</body>
@section scripts{
    @Scripts.Render("~/bundles/bundleJquery")
    <script src="~/Scripts/ValidacionesInserta/InsertNuevaPersona.js"></script>

}

