
@model List<ProyeProgra6.Models.sp_RetornaVehiculos_Result>

@{
    ViewBag.Title = "VehiculosLista";
}

<h2> Lista de Vehiculos</h2>

<table class="table">
    <tr>
        <th>Placa</th>
        <th>Marca Vehiculo</th>
        <th>Tipo de Vehiculo</th>
        <th>Numero de Puertas</th>
        <th>Numero de Ruedas</th>
        <th>Acciones</th>
    </tr>

    @{ foreach (ProyeProgra6.Models.sp_RetornaVehiculos_Result posicionModelo
                   in this.Model)
        {
            <tr>
                <td>@posicionModelo.Placa</td>
                <td>@posicionModelo.Marca_Vehiculo</td>
                <td>@posicionModelo.Tipo_Vehiculo</td>
                <td>@posicionModelo.NumeroPuertas</td>
                <td>@posicionModelo.NumeroRuedas</td>

                <td>
                    <a href="~/Vehiculos/VehiculoModifica?id_Persona=@posicionModelo.idVehiculo">Modificar</a>
                    <br />
                    <a href="~/Vehiculos/VehiculoElimina?id_Persona=@posicionModelo.idVehiculo">Eliminar</a>

                </td>
            </tr>
        }
    }
</table>
<a href="~/Vehiculos/VehiculoNuevo"> Registar Nuevo Vehiculo</a>


