@model ProyeProgra6.Models.sp_RetornaMarcaVehiculo_ID_Result

@{
    ViewBag.Title = "MarcaVehiculoElimina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro De Eliminar Una Marca De Vehiculo</h2>
<form id="frmNuevaPersona" method="post">
    <input type="hidden" name="idMarcaVehiculos" id="idMarcaVehiculos" value="@Model.idMarcaVehiculos" />
    <div class="form-group">
        <br />
        <label>Codigo:</label>
        <input type="text" name="codigo" id="codigo" class="form-control" value="@Model.Codigo" readonly />
    </div>

    <div class="form-group">
        <label>Marca:</label>
        <input type="text" name="tipo" id="tipo" class="form-control" value="@Model.Tipo" readonly />
    </div>

    <div class="form-group">
        <label>Pais de Fabricacion :</label>
        <select name="idPaisFabricante" id="idPaisFabricante" class="form-control" readonly>
            <option value="">Favor seleccione</option>
            @{
                foreach (ProyeProgra6.Models.sp_RetornaPaísFabricante_Result pais in this.ViewBag.ListaPais)
                {
                    bool esIdPaisModelo = pais.idPaisFabricante == Model.idPaisFabricante;

                    @*
                Incluir la propiedad selected para que la opción aparezca
                seleccionada. Se compara la propiedad idpaisfabricacion
                del objeto del viewBag contra la propiedad idpaisfabricacion
                del modelo de la vista
                    *@
                    if (esIdPaisModelo)
                    {
                        <option value="@pais.idPaisFabricante" selected>@pais.Pais </option>
                    }
                    else
                    {
                        <option value="@pais.idPaisFabricante">@pais.Pais </option>
                    }

                }
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" id="btnAceptar" />
    </div>
    <a href="~/MarcaVehiculo/MarcaVehiculoLista">Regresar a la lista</a>
</form>

@section Scripts{
    @* *****No es necesario incluir jquery porque
        ya el layout lo incluye*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/Scripts/ValidacionesGenericas.js")
    @Scripts.Render("~/scripts/Usuarios/NuevoUsuario.js")
}

