@model ProyeProgra6.Models.sp_RetornaMarcaVehiculo_ID_Result

@{
    ViewBag.Title = "ModificaMarcaVehiculo";
}
@section css{

    <link href="~/Content/imegenFondo.css" rel="stylesheet" />
}
<body class="imagenFondo">
    <h2>Modifica El Marca Vehiculo</h2>
    <form id="frmMarcaVehiculo" method="post">
        <div class="form-group">
            <label>Codigo:</label>
            <input type="text" name="codigo" id="codigo" class="form-control" value="@Model.Codigo" />
        </div>

        <div class="form-group">
            <label>Tipo De Vehiculo:</label>
            <input type="text" name="tipo" id="tipo" class="form-control" value="@Model.Tipo" />
        </div>
        <div class="form-group">
            <label>Pais de Fabricacion :</label>
            <select name="idPaisFabricante" id="idPaisFabricante" class="form-control">
                <option value="">SELECCIONE UN PAIS</option>
                @{
                    foreach (ProyeProgra6.Models.sp_RetornaPaísFabricante_Result pais
                        in this.ViewBag.ListaPais)
                    {
                        bool esidPaisFabricante = pais.idPaisFabricante == Model.idPaisFabricante;

                        ///incluir la propiedad select para que la opcion aparezca seleccionada.
                        ///Se compara la propiedad id_Provincia del objetivo del viewBag contra
                        ///la propiedad id_Provincia del modelo de la vista

                        if (esidPaisFabricante)
                        {
                            <option value="@pais.idPaisFabricante" selected>@pais.Pais.ToUpper() </option>
                        }
                        else
                        {
                            <option value="@pais.idPaisFabricante">@pais.Pais.ToUpper() </option>

                        }
                    }

                }
            </select>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Modificar" id="btnAceptar" />
        </div>
        <a href="~/MarcaVehiculo/MarcaVehiculoLista"> Regresar a la lista</a>
    </form>
</body>
@section scripts{
    <script src="~/Scripts/ValidacionesInserta/InsertMarcaVehiculo.js"></script>
}


